@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Extensions */
  --app_text: #000;
  --app_text_dark: #000;

  --app_border: #59575757;

  --app_bg: #f9f9f9;
  --app_bg_light: #d9d9d9;
  --app_bg_grayed: #a6a5a5;

  --app_blue: #367aff;
  --app_dark: #000;
  --app_white: #ffffff;
}